@{ ViewBag.Title = "Home"; }

<div id="page-wrapper">
    <!-- ==========================
        CONTACT - START
    =========================== -->
    <section class="content" id="contact">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <h1>Consent Form</h1>
                    <p>This is our online consent form. Please click the button below to continue only if you consent to all conditions listed below.</p>
                    <p>(1) I have read the information sheet and have had the opportunity to ask questions and receive satisfactory answers from the researcher. </p>
                    <p>(2) I understand that my participation is voluntary and that I am free to withdraw at any point during or after the experiment, without any academic or financial penalty, and without giving any reason for my withdrawal.</p>
                    <p>(3) I understand that my data will be handled only by the researchers involved in this project and will be kept strictly confidential and anonymous through the use of number codes. I understand that the results of the analysis of the data of the experiment as a whole will be published in scientific journals and as part of a doctoral thesis. </p>
                    <p>(4) I understand that this project has been reviewed by, and received ethics clearance through, the University of Oxford Central University Research Ethics Committee.</p>
                    <p>(5) I understand how to raise a concern or make a complaint.</p>
                    <p>(6) I agree to take part in this study.</p>
                    @using (Html.BeginForm("Explanation", "Consent", FormMethod.Get))
                    {
                        <fieldset>
                            <div class="form-group control-group">
                                <div class="controls">
                                    <button type="submit" id="send" class="btn btn-primary btn-sm"><i class="fa fa-check"></i>I have read and accept all of the above conditions</button>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
        CONTACT - END
    =========================== -->

</div>