@{ ViewBag.Title = "Home"; }

<div id="page-wrapper">
    <!-- ==========================
        CONTACT - START
    =========================== -->
    <section class="content" id="contact">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <h1>Task Instructions</h1>
                    <p>Once you click next you will be presented with a series of shapes. For each shape pick the colour that you think most intuitively matches that shape.</p>
                    <p>Follow your gut instincts and try to not pick based on knowledge of specific objects. There are no right or wrong answers.</p>
                    <p>Answer based on the shape presented, not the background it is presented on. After picking a colour for a shape, you will be asked how intuitive and right the match felt for you.</p>

                    @using (Html.BeginForm("Agreed", "Consent", FormMethod.Get))
                    {
                        <fieldset>
                            <div class="form-group control-group">
                                <div class="controls">
                                    <button type="submit" id="send" class="btn btn-primary btn-sm"><i class="fa fa-arrow-right"></i>Next</button>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
        CONTACT - END
    =========================== -->

</div>