@{ ViewBag.Title = "Home"; }

<div id="page-wrapper">
    <!-- ==========================
        CONTACT - START
    =========================== -->
    <section class="content" id="contact">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <h1>Welcome to this study from the Crossmodal Research Lab at the University of Oxford!</h1>
                    <p>In this experiment you will be asked to match colours and shapes, asked for your opinions on various colours and shapes, and asked to answer some questions about yourself.</p>
                    <p>To find out more about what to expect, please read the online information sheet found here: http://noemidreksler.com/wp-content/uploads/2016/06/Online-Information-Sheet.pdf </p>
                    <p>If you have any questions or concerns, please contact the researcher under noemi.dreksler@psy.ox.ac.uk</p>
                    <p></p>
                    <p>To begin you will asked to read and fill out an online consent form. Please make sure to fill in your Prolific ID whenever prompted in the experiment so that your contribution can be counted, even if you are asked for it twice.</p>
                    <p></p>
                    <p>Before you begin please make sure:</p>
                    <p>- You have normal or corrected-to-normal vision</p>
                    <p>- You are not colour blind or colour impaired in any way (e.g. red/green colour blindness, which is common in men)</p>
                    <p>- You are sitting in a room lit normally (not dark) that is quiet and free from distractions.</p>
                    <p>- Your browser window is maximised.</p>
                    <p></p>
                    <p>Thank you for your help with our research!</p>
                    <p></p>
                    <p>Crossmodal Research Laboratory, Department of Experimental Psychology, Oxford, England.</p>
                    <p></p>
                    <p>Researcher contact details: Noemi Dreksler (Email: noemi.dreksler@psy.ox.ac.uk)</p>

                    @using (Html.BeginForm("Consent", "Consent", FormMethod.Get))
                    {
                        <fieldset>
                            <div class="form-group control-group">
                                <div class="controls">
                                    <button type="submit" id="send" class="btn btn-primary btn-sm"><i class="fa fa-arrow-right"></i>Next</button>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
        CONTACT - END
    =========================== -->

</div>