<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://psychologystudy.co.uk</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>psychologystudy.co.uk</MSDeployServiceURL>
    <DeployIisAppPath>psychologystudy.co.uk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>NoemiDreksler</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NoemiEntities3" Order="1" Enabled="False">
          <Destination Path="Data Source=188.121.44.217;Integrated Security=False;User ID=NoemiDreksler;Password=H3lloNoemi;Connect Timeout=15;Encrypt=False;Packet Size=4096;Application Name=EntityFramework" Name="Data Source=188.121.44.217;Integrated Security=False;User ID=NoemiDreksler;Password=H3lloNoemi;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=False;Packet Size=4096;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Noemi.Models.NoemiEntities3, Noemi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Noemi.Models.NoemiContext" Order="2" Enabled="False">
          <Destination Path="Data Source=188.121.44.217;Integrated Security=False;User ID=NoemiDreksler;Password=H3lloNoemi;Connect Timeout=15;Encrypt=False;Packet Size=4096;Application Name=EntityFramework" Name="Data Source=188.121.44.217;Integrated Security=False;User ID=NoemiDreksler;Password=H3lloNoemi;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=False;Packet Size=4096;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Noemi.Models.NoemiContext, Noemi" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Noemi.Models.NoemiContext-Web.config Connection String">
      <ParameterValue>Data Source=188.121.44.217;Integrated Security=False;User ID=NoemiDreksler;Password=H3lloNoemi;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=False;Packet Size=4096;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NoemiEntities3-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Noemi.csdl|res://*/Models.Noemi.ssdl|res://*/Models.Noemi.msl;provider=System.Data.SqlClient;provider connection string="Data Source=188.121.44.217;Integrated Security=False;User ID=NoemiDreksler;Password=H3lloNoemi;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=False;Packet Size=4096;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Noemi.Models.NoemiContext" />
  </ItemGroup>
</Project>